


/* General body settings */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(10, 10, 40);
    color: whitesmoke;
}

header {
    position: relative;
    z-index: 1; /* Niedrigere Schicht */
}

#heading {
    text-align: center;
    font-size: 10vh;
    margin-top: 3vh;
}


#forward, #backwards {
    position: absolute; /* Damit wir die Position exakt anpassen können */
    top: 0; /* Start oben */
    height: 100vh; /* Vollbild-Höhe */
    background-color: transparent; /* Unsichtbar */
}

#forward {
    right: 0; /* Rechtsbündig */
    width: 50%; /* Rechte Hälfte */
}

#backwards {
    left: 0; /* Linksbündig */
    width: 50%; /* Linke Hälfte */
}