
/* Text styling */
.Heading a {
    position: absolute;
    color: aqua;
    background-color: aqua;
    height: 100%;
    width: 25%;
    opacity: 0;
    right: 0;
}

/* General body settings */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(10, 10, 40);
    color: whitesmoke;
}

.content h1 {
    text-align: center;
}
